@media (max-width: 1125px) {

    /* section 2 */

    #card_div article:last-child {
        display: none;
    }

    #card_div article {
        max-width: 50%;
    }

    /* section 3 */

    #images_div {
        flex-direction: column;
    }

    #img_big {
        width: 100%;
    }

    #small_image_div {
        flex-direction: row;
        width: 100%;
        height: 200px;
    }

    #small_image_1,
    #small_image_2 {
        width: 50%;
    }
}