.main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header */

header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 50px;
    padding: 6px 0;
}

#burger {
    display: none;
}

header nav ul {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

header nav ul li {
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/* Everything but header */

#sub_main {
    display: flex;
    flex-direction: column;
    row-gap: 130px;
    align-items: center;
    justify-content: space-between;
}

/* section 1 */

#section_1 {
    height: 550px;
    background-image: url("../images/section1_cover.png");
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

#section_1 h2 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    line-height: 75px;
}

#section_1 p {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    width: 90%;
    font-size: 20px;
    line-height: 28px;
}

/* section 2 */

#section_2 {
    display: flex;
    max-width: 82%;
    flex-direction: column;
    row-gap: 35px;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}

#card_div {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
}

#card_div article {
    max-width: 33%;
    border: 1px solid #000;
}

.article_img {
    height: 189px;
    background-size: cover;
    background-position: center;
}

#article_img_1 {
    background-image: url("../images/discovery1.png");
}

#article_img_2 {
    background-image: url("../images/discovery2.png");
}

#article_img_3 {
    background-image: url("../images/discovery3.png");
}

.article_text {
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* section 3 */

#section_3 {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
    width: 82%;
    column-gap: 20px;
}

#images_div {
    display: flex;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
}

#img_big {
    background-image: url("../images/Rectangle_25.png");
    background-position: center;
    background-size: cover;
    width: 66%;
    height: 400px;
}

#small_image_div {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 400px;
    row-gap: 20px;
    column-gap: 20px;
}

#small_image_1 {
    background-image: url("../images/Rectangle_15.png");
    width: 100%;
    height: 190px;
    background-position: center;
    background-size: cover;
}

#small_image_2 {
    background-image: url("../images/Rectangle_17.png");
    width: 100%;
    height: 190px;
    background-position: center;
    background-size: cover;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 100px;
}