@media (max-width: 750px) {
    #sub_main {
        row-gap: 80px;
    }

    /* header */

    header nav ul li {
        display: none;
    }

    #burger {
        display: inline;
    }

    /* section 1 */

    #section_1 {
        height: 438px;
    }

    /* section 2 */

    #section_2 {
        align-items: center;
        max-width: 100%;
        margin: 0 15px;
    }

    #card_div {
        row-gap: 20px;
        justify-content: center;
    }

    #section_2 article {
        align-items: center;
    }

    #card_div {
        flex-wrap: wrap;
    }

    #card_div article {
        max-width: 100%;
    }

    /* section 3 */

    #section_3 {
        align-items: center;
        width: 100%;
    }

    #img_big {
        height: 320px;
    }
}