@media (max-width: 800px) {
    header nav ul li {
        display: none;
    }

    #burger {
        display: inline;
    }

    #section_1 {
        height: 438px;
    }

    #section_2 {
        align-items: center;
        max-width: 100%;
        margin: 0 15px;
    }

    #card_div {
        row-gap: 20px;
        justify-content: center;
    }

    #section_2 article {
        align-items: center;
    }

    #card_div {
        flex-wrap: wrap;
    }

    #card_div article {
        max-width: 100%;
    }
}